name: Build and Push WordPress Image

on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
      - ".github/workflows/build-wordpress.yaml"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # 3️⃣ Construire l'image Docker (tout en minuscules)
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/salihdiallo/wordpress-k8s-project/wordpress:latest .

      # 4️⃣ Pousser l'image sur GHCR
      - name: Push Docker image
        run: |
          docker push ghcr.io/salihdiallo/wordpress-k8s-project/wordpress:latest
