name: Build and Push WordPress Image

on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
      - ".github/workflows/build-wordpress.yaml"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/wordpress:latest .

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/wordpress:latest
